.App {
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  height: 700px;
}
form{
  align-self: flex-end;
  margin-right: 1rem;
}
svg{
  margin: auto;
}